{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/homepage.css' %}" />
{% endblock %}

{% block content %}
<div class="outer_container">
  <div class="slide_container">
    <div class="surprise_container">
      <div class="text_container welcome">
        <h1 id="welcome">Welcome!</h1>
      </div>
      <div id="surprise" class="surprise">
        <p>Nice to see ya 😊</p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="outer_container">
  <div class="text_container">
    <h1 class="h1_focus">Jack DeVries</h1>
    <h2>Ambitious Full Stack Web Developer</h2>
    <p id="personal_statement" style="text-align: justify;">
      I am an ambitious and fast-learning web developer. My greatest strengths
      are the python programming language, and the Django web framework, but I
      am working hard to increase my skills in frontend technologies as a means
      for building my own full-stack projects with beautiful and functional UI's.
    </p>
  </div>

  {% include 'homepage/down_button.html' %}

  <div id="skills" class="text_container">
    <h1>My Skills</h1>
    <div class="text_container">
      <table id="skills_table">
        <tbody>
          <tr>
            <td class="td_title">Programming Languages</td>
            <td class="td_items">
              <p>Python</p>
              <p>Javascript</p>
              <p>Bash</p>
            </td>
          </tr>
          <tr>
            <td class="td_title">Frontend</td>
            <td class="td_items">
              <p>HTML</p>
              <p>CSS</p>
            </td>
          </tr>
          <tr>
            <td class="td_title">Javascript Libraries</td>
            <td class="td_items">
              <p>React JS</p>
              <p>Styled-Components</p>
              <p>Redux</p>
            </td>
          </tr>
          <tr>
            <td class="td_title">Django</td>
            <td class="td_items">
              <p>Rest Framework</p>
              <p>Django-Rest-Knox</p>
            </td>
          </tr>
          <tr>
            <td class="td_title">Dev Ops</td>
            <td class="td_items">
              <p>AWS S3, EC2</p>
              <p>Debian Linux</p>
              <p>MySQL</p>
              <p>Cron</p>
            </td>
          </tr>
          <tr>
            <td class="td_title">Miscellaneous</td>
            <td class="td_items">
              <p>Git</p>
              <p>SQL</p>
        </tbody>
      </table>
    </div>
            

</div>

<script src="{% static 'homepage/homepage.js' %}"></script>
{% endblock %}
