/* DOWN ARROW */
.circle_container {
  display: inline-block;
}

.inner_container {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.outer_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  height: 150px;
  width: 150px;
  border-radius: 100%;
  animation: outer 3s infinite;
}

.inner_circle {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

@keyframes outer {
  0% {
    margin-top: 0px;
    height: 80px;
    width: 80px;
    opacity: 100%;
  }
  40% {
    margin-top: -35px;
    height: 150px;
    width: 150px;
    opacity: 0%;
  }
  60% {
    height: 60px;
    width: 60px;
    opacity: 0%;
  }
  100% {
    height: 80px;
    width: 80px;
    opacity: 100%;
  }
}
