.slide_container {
  display: inline-block;
  width: 99vw;
  overflow-y: hidden;
}

.surprise {
  position: absolute;
  color: var(--grey);
  border: 1px solid var(--black);
  opacity: 0;
  transition: background-color 0.5s;
  transition: opacity 0.5s;
  border-radius: 10px;
  width: 191px;
  height: 121px;
  text-align: center;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.surprise_container {
  display: inline-block;
}

.surprise_container:hover .surprise {
  opacity: 100;
  background-color: var(--blue);
}

.surprise_container:hover .welcome {
  transform: translatex(200px);
}

.welcome {
  border: 2px solid var(--black);
  transition: transform 1s;
  animation: surprise_cta 1s ease-in-out infinite alternate;
}

@keyframes surprise_cta {
  from {
    border-color: var(--black);
    opacity: 100%;
  }
  to {
    border-color: #00000000;
    opacity: 70%;
  }
}

.h1_focus {
  color: var(--blue);
}
