{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'favicon.html' %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&display=swap"
      rel="stylesheet" />
    {% block stylesheet %}
    {% endblock %}
    <title>Jack DeVries</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    <script src="{% static 'background_helper.js' %}"></script>
  </body>
</html>
